# Directory indices
.DS_Store

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Binaries
bin/**
obj/**
lib/**

# Doxyfiles
html/**
latex/**

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Coverage files
*.gcno
*.gcda
*.gcov
coverage.info

# Program outputs
*.csv
*.xml
*.cg.dot
*.cg.xml
*.cfg.dot
*.cfg.xml

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# PADKIT
padkit/**
padkit

# Secret material! 
material

# GraphWalker
graphwalker-cli-4.3.2.jar
graphwalker-studio-4.3.2.jar

# Example Artifacts
hp.txt
pg.dot
sg.dot
r.txt
req.txt
unified.json
test.json
testpath.json
t.json

# Large results
exps/002/generated/**
exps/002/coverages/**
exps/003/generated/**
exps/003/coverages/**
exps/004/generated/**
exps/004/coverages/**
exps/005/generated/**
exps/005/coverages/**

MARS/**
